<section class="parallax" style="background-image: url('<%= image_url('bg-hotel-room.jpg') -%>');">
	<div class="jumbotron">
		<div class="container text-center">
			<h1>Casinos</h1>
		</div>
	</div>
</section>

<div class="container">
	<span class="divider"></span>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Destination</th>
				</tr>
			</thead>

			<tbody>
				<% @casinos.each do |casino| %>
				<tr>
					<td><%= link_to casino.name, casino %></td>
					<td>
					<% casino.destinations.each do |dest| %>
					<%= link_to dest.name, dest -%>
					<% end -%>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>

	<% if is_admin? -%>
	<hr>
	<%= link_to 'New Casino', new_admin_casino_path -%>
	<% end -%>

</div>