<%= link_to 'New Event', new_admin_event_path, class: 'btn btn-primary' %>
<hr>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Title</th>
				<th>Venue</th>
				<th>Dates</th>
			</tr>
		</thead>
		<tbody>
			<% @events.each do |event| %>
			<tr>
				<td><%= event.title -%></td>
				<td><%= event.venue -%></td>
				<td><%= event.date_span -%></td>
			</tr>
			<% end -%>
		</tbody>
	</table>
</div>