<section class="" style="background: #000;">
	<div class="container">
		<%= image_tag(
		'banner-home.jpg',
		alt: "Exclusive Casino Offers & Custom Gambling Travel Itineraries That You Won't Find Anywhere Else",
		class: 'img-responsive center-block' ) -%>
	</div>
</section>
<span class="divider"></span>
