<section class="parallax" style="background-image: url('<%= image_url('bg-vegas.jpg') -%>');">
	<div class="jumbotron">
		<div class="container text-center">
			<%= image_tag( 'new-logo-white.png', alt: 'CASINOS The Grand Collection', class: 'img-responsive', style: 'margin: 0 auto;' ) -%>
		</div>
	</div>
</section>
<span class="divider"></span>