<% @page_header = @page.title if @page.container_layout -%>

<%= raw('<div class="container">') if @page.container_layout -%>

<%= @page.rendered_content %>

<%= raw('</div> <!-- end .contianer -->') if @page.container_layout -%>