<% @page_header = @page.title if false -%>

<%= raw('<div class="container">') if @page.try(:skip_container) -%>

<%= @page.rendered_content %>

<%#= link_to 'Edit', edit_page_path(@page) %>
<%#= link_to 'Back', pages_path %>

<%= raw('</div> <!-- end .contianer -->') if @page.try(:skip_container) -%>