<% content_for :pre_container do -%>
<%#= render 'static_pages/parallax_header', text: 'Venues', img_url: 'bg-caesars-palace.jpg' -%>
<span class="divider"></span>
<% end -%>

<div class="row">
	<%= render 'layouts/featured_images', items: @venues -%>
</div>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<!-- <th>Type</th> -->
			</tr>
		</thead>

		<tbody>
			<% @venues.each do |venue| %>
			<tr>
				<td><%= link_to venue.name, venue_path(venue) %></td>
				<!-- <td><%#= venue.type %></td> -->
			</tr>
			<% end %>
		</tbody>
	</table>
</div>

<% if is_admin? -%>
<hr>
<%= link_to 'New Venue', new_admin_venue_path %>
<% end -%>
