<% content_for :pre_container do -%>
<%= render 'static_pages/parallax_header', text: 'Cruises', img_url: @background_image -%>
<% end -%>

<div class="row">
	<%#= render 'layouts/featured_images', items: Cruise.future, heading: :title -%>
</div>

<div class="row">
	<div class="col-sm-7">
		<%= render @cruises %>

		<div class="pagination-container text-center">
			<%= paginate @cruises %>
		</div>

	</div>
	<div class="col-sm-5">
		<div class="list-group">
			<%= render(CruiseList.limit(nil)) || content_tag(:h4, "No Cruise Lists", class: 'text-center') %>
		</div>
	</div>
</div>
