<section class="parallax" style="background-image: url('<%= image_url('bg-roulette.jpg') -%>');">
	<div class="jumbotron">
		<div class="container text-center">
			<h1>Destinations</h1>
		</div>
	</div>
</section>



<span class="divider"></span>

<div class="container">

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Destination</th>
			</tr>
		</thead>

		<tbody>
			<% @destinations.each do |destination| %>
			<tr>
				<td><%= link_to destination.name, destination -%></td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<div class="pagination-container text-center">
		<%= paginate @destinations %>
	</div>

	<% if is_admin? -%>
	<hr>
	<%= link_to 'New Destination', new_admin_destination_path %>
	<% end -%>
</div>