<div class="container">
	<p id="notice"><%= notice %></p>

	<%= @destination.attributes -%>

	<%= link_to 'Edit', edit_destination_path(@destination) %> |
	<%= link_to 'Back', destinations_path %>
</div>