/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require froala_editor.min.css
 *= require froala_style.min.css
 
 *= require_self
 */

@import "font-awesome";

// @import "bootstrap/variables";
// @import "bootstrap-sprockets";
@import "bootswatch/custom_darkly/variables";
@import "bootstrap";
@import "bootswatch/custom_darkly/bootswatch";
// @import "bootstrap-datetimepicker";
/*@import "bootswatch";*/

// @import url('http://fonts.googleapis.com/css?family=Roboto');

body {
	padding-top: 51px;
	// text-align: justify;

	// font-family: 'Open Sans';
}

.gmap {
	width: 100%;
	height: 260px;
	background: #58B;
}
 
/*@media (max-width: 768px) {
	body { padding-top: 51px; }
}*/

.divider {
	height: 50px;
	display: block;
}

.parallax {
	/*background-image: attr(data-bg-image url);*/
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;

	/*min-height: 300px;*/
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: auto;

	color:#fff;
}

@media (max-width: 992px) {
	.parallax {
		background-attachment: initial;
		background-size: cover;
	}
}

.jumbotron {
	background: transparent;
}

#footer {
	// height: 60px;
	// background-color:#000;
	// background-color:#585858;
	// margin-top:50px;
	// padding-top:20px;
	// padding-bottom:20px;
}

#footer a {
	// color:#efefef;
}