// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {

	h1 {
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: lighter;
		small {
			color: inherit;
			font-weight: lighter;
		}
	}

}

.btn-group > .btn:not(:last-of-type) {
		border-right: solid 1px #222;
}