<div id="footer">
	<div class="container">
		<p class="text-muted text-center">
			COPYRIGHT &copy; 2004-<%= Time.now.year -%> CASINOS THE GRAND COLLECTION LLC |
			Toll Free: 866.818.COIN (2646) |
			info@casinostgc.com |
			<%= link_to 'Webmaster', 'http://kaymic.com', target: '_blank' -%> 
		</p>
	</div>
</div>