<div id="footer">
	<div class="container">

		<hr>

		<p class="text-muted text-center">
			COPYRIGHT &copy; 2004-<%= Time.now.year -%> CASINOS THE GRAND COLLECTION LLC |
			Toll Free: 866.818.COIN (2646) |
			info@casinostgc.com

			|

			<%= link_to_unless user_signed_in?, fa_icon('sign-in'), new_user_session_path, title: 'Sign In' do -%>
			<%= link_to fa_icon('sign-out'), destroy_user_session_path, method: :delete, title: 'Sign Out' -%>
			<% end -%>

			|

			<%= link_to 'Webmaster', (user_signed_in? ? admin_admin_path : 'http://kaymic.com'), target: (user_signed_in? ? '_self' : '_blank') -%>
		</p>
	</div>
</div>