<li class="list-group-item">
	<div class="list-group-item-text media">
		<div class="media-left">
			<% if attraction.pictures.any? -%>
			<%= image_tag attraction.pictures.first.image_url, width: 96 -%>
			<% end -%>
		</div>
		<div class="media-body">
			<%= content_tag :h4, attraction.name, class: 'media-heading' -%>
			<%= attraction.rendered_content -%>
		</div>
	</div>
</li>